<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true"
         failOnDeprecation="true"
         failOnSkipped="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutCoverageMetadata="true"
         stopOnDefect="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="testbench"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NOTIFYRE_DRIVER" value="sms"/>
        <env name="NOTIFYRE_API_KEY" value="test-api-key"/>
        <env name="NOTIFYRE_DEFAULT_NUMBER_PREFIX" value=""/>
        <env name="NOTIFYRE_BASE_URL" value="https://api.notifyre.com"/>
        <env name="NOTIFYRE_TIMEOUT" value="30"/>
        <env name="NOTIFYRE_RETRY_TIMES" value="3"/>
        <env name="NOTIFYRE_RETRY_SLEEP" value="1"/>
        <env name="NOTIFYRE_ROUTES_ENABLED" value="true"/>
        <env name="NOTIFYRE_ROUTE_PREFIX" value="notifyre"/>
        <env name="NOTIFYRE_RATE_LIMIT_ENABLED" value="true"/>
        <env name="NOTIFYRE_RATE_LIMIT_MAX" value="60"/>
        <env name="NOTIFYRE_RATE_LIMIT_WINDOW" value="1"/>
        <env name="NOTIFYRE_DB_ENABLED" value="true"/>
        <env name="NOTIFYRE_LOGGING_ENABLED" value="true"/>
        <env name="NOTIFYRE_LOG_PREFIX" value="notifyre_sms"/>
        <env name="NOTIFYRE_WEBHOOK_RETRY_ATTEMPTS" value="3"/>
        <env name="NOTIFYRE_WEBHOOK_RETRY_DELAY" value="1"/>
    </php>
</phpunit>

